body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 175%;
}

.bg {
    background-image: url("images/7544_crumpled_paper.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.dropdown-item {
    font-size: 150%;
}

.logo {
    font-size: 250%;
}

.refresh {
    background-image: url("images/icons/sketchy_redo.svg");
}

.todays_temperature {
    font-size: 125%;
}

.social_media {
    font-size: 80%;
}

.week_forecast {
    text-align: center;
}

.menu, img.todays_temperature, img.week_forecast_temperature, img.social_media {
    width: 50px;
    height: 50px;
}

img.menu_item, img.todays_calendar, img.todays_values {
    width: 30px;
    height: 30px;
}

img.today {
    width: 200px;
    height: 200px;
}

img.week_forecast, img.logo {
    width: 100px;
    height: 100px;
}

.spacing-1 {
    padding-top: 3%;
}

.spacing-2 {
    padding-top: 1%;
    padding-bottom: 2%;
}

.spacing-3 {
    padding-top: 50%;
}

.spacing-4 {
    padding-top: 30%;
}